.brainContainer{
    width: 49.5%;
    height: 550px;
    background: linear-gradient(to right,
     red 20%, orange 20% 40%, yellow 40% 60%, green 60% 80%, blue 80%);
    border-radius: 20px;
    float: right;
    margin-top: -550px; 
    
}
 
.brain{
   height: 50%;
   width: 50%; 
   margin: 240px 30px 50px 180px;
   animation: bounce 0.5s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}